.DS_Store
.vscode
.ipynb_checkpoints
Dataset
**__pycache__**
__pycache__/
Code/PythonCode/CIL/data
Code/PythonCode/CIL/logs
Code/PythonCode/CIL/runs
Code/PythonCode/CIL/utils/__pycache__/**
*.pyc
venv